.background{
    background-color: #d9fdd3;
    //--background: url(../../../../assets/icon/ChatBackground.png) 0 0/100% 100% no-repeat;
}

.colorBtn{
    position: absolute;
    top: 3%;
    left: 20%;
    color: rgb(222, 148, 10);
    --icon-font-size: 40px;
}

.primary {
    background-color: #2e2e2e98;
  }
  .secondary {
    background-color: #d9fdd3;
  }

.backBtn{
    position: absolute;
    top: 3%;
    left: 2%;
    color: rgb(222, 148, 10);
    --icon-font-size: 40px;
}

.titulo{
    position: absolute;
    top: -31%;
    left: 40%;
    height: 100px;
    font-weight: bold; 
    
}

.mensajes{
    background-color: transparent;
    position: absolute;
    top: 12.5%;
    height: 85%;
    width: 90%;
    left: 5%;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}

.mensajeQmono{
    word-wrap: break-word;
    background-color: rgba(255, 143, 32, 0.499);
    border-radius: 8px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    margin-left: 10%;
    margin-top: -13%;
    width: 70%;
    font-size: 2.5vh;
    animation: popup-fadein2 1s;
    overflow-y: auto;
    color: black;
}

.buttonIrA{
    word-wrap: break-word;
    border-radius: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    width: 100%;
    font-size: 2.5vh;
    text-align: center;
    animation: popup-fadein2 1s;
    overflow-y: auto;
    text-decoration: underline;
    color: #0000FF;
}

.containerMsjQmono{
    animation: popup-fadein2 1s;
}

.containerMsjTu{
    animation: popup-fadein 0.7s;
    margin-bottom: 10%;
}

.mensajeEstudiante{    
    word-wrap: break-word;
    background-color: rgba(73, 158, 255, 0.625);
    border-width: 7.5px; 
    border-radius: 8px;
    border-color: transparent;
    border-style: solid;
    margin-left: 18%;
    margin-top: -12%;
    width: 70%;
    font-size: 2.5vh;
    animation: popup-fadein 0.7s;
    overflow-y: auto;
    text-align: right;
    color: black;
}

.imgQmono{
    height: 30px;
    width: 30px;
    margin-left: -1%;
    animation: popup-fadeinimg2 1s;
}

.imgTu{
    margin-left: auto;
    right: 0%;
    height: 30px;
    width: 30px;
    animation: popup-fadeinimg 0.7s;
    
}

.inicialesEstudiante{
    color: white;
}

.mensaje{
    background-color: aqua;
}

@keyframes popup-fadein2 {
    0% {
        display: none;
        opacity: 0;
        width: 0%;
        font-size: 0vh;
      }
    50% {
        opacity: 0;
        width: 0%;
        font-size: 0vh;
        display: block;
    }
    90% {
        font-size: 0vh;
    }
    100% {
        opacity: 1;
        width: 70%;
        font-size: 2.5vh;
    }
  }

  @keyframes popup-fadeinimg2 {
    0% {
        height: 0px;
        width: 0px;
        display: none;
      }
    50% {
        height: 0px;
        width: 0px;
        display: block;
    }
    100% {
        height: 30px;
        width: 30px;
    }
  }

  @keyframes popup-fadeinimg {
    0% {
        height: 0px;
        width: 0px;
        display: none;
    }
    
    100% {
        display: block;
        height: 30px;
        width: 30px;
    }
  }

@keyframes popup-fadein {
    from {
        opacity: 0;
        width: 0%;
        font-size: 0vh;
        display: none;
        margin-left: 100%;

    }
    to {
        margin-left: 18%;
        display: block;
        opacity: 1;
        width: 70%;
        font-size: 2.5vh;
    }
  }
