.background{
  --background: url(../../../assets/icon/Mapa_background.png) 0 0/100% 100% no-repeat;
}

ion-menu::part(backdrop) {
    background-color: rgb(0, 174, 255);
}
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    --max-width: 180px;
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

ion-checkbox::container {
  --border-color: red;
  background-color: #f4716d;
}



.containerBtnMenu{
    position: absolute;
    top: 3%;
    right: 3%;
}

ion-button {
  --background: rgba(255, 0, 255, 0);
  --background-hover: rgba(255, 0, 255, 0);
  --background-activated: rgba(255, 0, 255, 0);
  --background-focused: rgba(255, 0, 255, 0);

  --color: rgb(244,113,109);

  --border-radius: 0;
  --border-color: rgba(255, 0, 255, 0);
  --border-style: solid;
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
}

.btnMenu{
    position: absolute;
        top: 3%;
        right: 3%;
    width: 40px;
    height: 40px;
    color: antiquewhite;
}

#map { //mapa
  color: black; //color del texto de infowidow
  font-weight: bold;
  position: absolute;
  top: 11%;
  left: 5%;
  width: 94.5%;
  height: 61%;
  opacity: 0;
  transition: opacity 150ms ease-in;
  display: block;
  &.show-map{
    opacity: 1;
  } 
}

.usuario{
  color: antiquewhite;
  font-size: 80%;
  position: absolute;
      top: 5%;
      left: 14%;
  width: 68%; 
}

.buscador{
  color: black;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  background-color: darkgray;
  position: absolute;
  top: 13.5%;
  left: 9%;
  width: 42.5%;
  height: 40px;
  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  border-color: black;
  ///
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clasesContainer{
  background-color: rgb(191, 189, 189);
  //background-image: url(../../../assets/icon/fondoClase.png);
  background-size: cover;
  position: absolute;
  top: 72.5%;
  width: 94.5%;
  height: 26.5%;
  left: 5%;
  border-width: 7px;
  border-style: solid;
  border-color: white;
  border-bottom-right-radius: 15px;
}

.clases{
  width: 100%;
  height: 100%;
}

.text{
  font-size:2vh;
  font-weight: bold;
  color: black;
  margin: -2%; 
  font-family: Georgia, 'PT Sans', Verdana, sans-serif; 
}

.text2{
  color: black;
  margin: -2%;
  font-size:2vh;
  text-align: center;
  font-weight: bold;
}

.mapa{// contenedor de mapa
  height: fit-content;
  width: fit-content;
  border-width: 7px;
  border-style: solid;
  border-color: white;

}

.background{
    --background: url(../../../assets/icon/Mapa_background.png) 0 0/100% 100% no-repeat;
}

.flechaAdelante{
  //background: url(../../../assets/icon/flecha_der.png) 0 0/100% 100% no-repeat;
  position: absolute;
  font-size: 225%;
  color: #f4716d;
  font-weight: bold;
  top: 35%;
  right: 5%;
  height: 20%;
}
.flechaAtras{
  //background: url(../../../assets/icon/flecha_izq.png) 0 0/100% 100% no-repeat;
  position: absolute;
  font-size: 225%;
  color: #f4716d;
  font-weight: bold;
  top: 35%;
  left: 2%;
  height: 20%;
}

/*ion-fab-button::part(native) {
  top: 325%;
  height: 75%;
  width: 75%;
  left: 650%;
  margin-top: -100px; 
}

.mainfabbutton{
  margin-top: 100px;
}*/

.puntosMapa{
  position: absolute;
  top: 13%;//20
  left: 60%;
  width: 35%;
}

.containerPuntoMapa{
  height: 30px;
  background-color:white;
  color: black;
}

ion-accordion::part(header) {
  
  background-color:rgb(180, 180, 180);
  color: rgb(0, 0, 0);
  --color: rgb(0, 0, 0);
  
}



ion-accordion::part(content) {
  
  background-color:white;
  color: black;

  
  
}

.item-background-color {
  --ion-item-background: white !important;
  --ion-color-contrast: black;
}

.puntoMapaCheckBox{
  position: absolute;
  width: 10%;
  height: 5%;
  margin-top: 7%;
  left: 5%;
}

ion-checkbox::part(container) {
  --border-color: #f4716d;
  background-color: #f98581;
  --border-radius: 6px;
  --border-color-checked:  #f4716d;
  --checkmark-color: black;
}

.puntoMapaNombre{
  position: relative ;
  top: 25%;
  font-size: 1.5vh; 
  height: 1%;
  margin-left: 45%;
}

.puntoMapaIconos{
  
  margin-top: 3%;
  margin-left: 25%;
  width: 15%;
  height: 60%;
}

