.background{
    height: 100%;
    width: 100%; 
    position: absolute;
    --background: url(../../../assets/icon/Horario_background.png) 0 0/100% 100% no-repeat;
    background-color: transparent;
}

ion-menu::part(backdrop) {
    background-color: rgb(0, 174, 255);
}
  
ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    --max-width: 180px;
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

.containerBtnMenu{
    position: absolute;
        top: 3%;
        right: 3%;
}

//ion-button {
    // --background: rgba(255, 0, 255, 0);
    // --background-hover: rgba(255, 0, 255, 0);
    // --background-activated: rgba(255, 0, 255, 0);
    // --background-focused: rgba(255, 0, 255, 0);
  
    // --color: rgb(118, 34, 0);
  
    // --border-radius: 0;
    // --border-color: rgba(255, 0, 255, 0);
    // --border-style: solid;
    // --border-width: 1px;
  
    // --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
  
    // --ripple-color: deeppink;
   
    // --padding-top: 10px;
    // --padding-bottom: 10px;
  //}

  ion-textarea .textareaNRC::-webkit-scrollbar {
    display: none;
  }

.textareaNRC{
    position: absolute; 
    text-align: center; 
    top:25%; 
    width: 100%; 
    height: 300px; 
    left: 0px;
    --overflow: hidden;
    overflow: hidden;
    ::-webkit-scrollbar {
        display: none;
    }
}
.calendario_container{ 
    position: absolute;
    top: 12%;
    left: 2.5%;
    width: 94.5%;//95
    height: 42%;
    border-style: solid;
    border-radius: 0px;//16
    border-width: 5px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: black !important;
    border-bottom: 5px;
    border-bottom-width: 5px;   
    
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    background-color: transparent;
}

.texto{
    background-color: blue;
    position: relative;
    left: 20%;
    top: 20%;
}

.slide{
    background-color: white;
    border: 2px;
    border-style: outset;
    border-color: black;
}

.calendario_slides{
    background-color: transparent;
    width: 100%;
}

.usuario{
    color: antiquewhite;
    font-size: 80%;
    position: absolute;
        top: 5%;
        left: 13%;
    width: 68%; 
}

.columna{
    background-color: transparent;
    width: 50px !important;
    vertical-align: top !important;
    height: 5%;
    
}

.containerColumna{
    width: 50px !important;
    vertical-align: top !important;
    
    top: 7%;
    background-color: transparent;
}

.cuadricula{
    position: relative; 
    background-color: rgba(255, 255, 255, 0.725);
    border: 2px;
    border-style: outset;
    border-color:transparent; 
    font-size: 10px;
    height: 35px;
    color: black;
}

.cuadriculaSchedule{
    position: relative; 
    background-color: transparent;
    font-size: 10px;
    text-align: center;
    height: 35px;
    color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

.part1{
    position: absolute;
    height: 25%;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: #e4e4e4;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}

.part2{
    position: absolute;
    height: 25%;
    width: 100%;
    top: 25%;
    left: 0%;
    font-weight: bold;
    background-color: #e4e4e4;
}

.part3{
    position: absolute;
    height: 25%;
    width: 100%;
    top: 50%;
    left: 0%;
    background-color: #e4e4e4;
}

.part4{
    position: absolute;
    height: 25%;
    width: 100%;
    top: 75%;
    left: 0%;
    background-color: #e4e4e4;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.toolbarContainer{
    position: absolute;
    top: 56%;
    height: 20%;
    left: 2.5%;
    width: 95%;
    color: black;
    border-style: solid;
    border-width: 5px;
    border-color: transparent; 

    
}

.btnMenu{

    position: absolute;
        top: 3%;
        right: 3%;
    width: 40px;
    height: 40px;
    color: antiquewhite;

    --background: rgba(255, 0, 255, 0);
    --background-hover: rgba(255, 0, 255, 0);
    --background-activated: rgba(255, 0, 255, 0);
    --background-focused: rgba(255, 0, 255, 0);
    
    --color: #3880ff;
    
    --border-radius: 0;
    --border-color: rgba(255, 0, 255, 0);
    --border-style: solid; 
    --border-width: 1px;
    
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    
    --ripple-color: deeppink;
    
    --padding-top: 10px;
    --padding-bottom: 10px;
    
}


.buscador{
    position: absolute;
    top: -10%;
    left: 0%;
    height: 27%;
    width: 99%;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

}  

.buttonToolbarA{
    position: absolute;
    left: 0%;
    top: 20%;
    height: 27%;
    width: 48%;
    //background-color: #f4f5ab;
} 

.buttonToolbarG{
    position: absolute;
    top: 20%;
    right: 0%;
    height: 27%;
    width: 48%;
    //background-color: #f4f5ab;
} 

.materias_container{
    position: absolute;
    top: 68%;
    left: 1.5%;
    width: 98%;
    height: 30%;
    border-radius: 16px;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    border-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.containerColumnaMaterias{
    top: 0%;
    left: 0%;
    height: unset !important;

    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    width: 100%;

}

.materiasGrid{
    background-color:  transparent;
    height: 100%;
    //width: 130px;
    background-color: transparent;

}

.columnaMaterias{
    background-color: transparent;
    position: absolute;
    left: 0%;
    top: 0%;

    //width: 120px;
    width: 100%;
}

.cuadriculaTituloMateria{
    background-color:transparent; 
    //width: 120px;
    width: 100%;
    //height: 70px;
    height: 100%;
    vertical-align: center !important;
    text-align: center !important;
    align-items:center !important;
    justify-content:center !important;
    margin-bottom: 10px;
}

.cuadriculaMaterias{
    background-color:  white;
    //width: 120px;
    width: 90%;
    //height: 80px;
    height: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 5px;
    vertical-align: center;

    vertical-align: center !important;
    text-align: center !important;
    align-items:center !important;
    justify-content:center !important;
}

.textoMaterias{
    margin-top: 7%;
    font-size: 1.1vh; 
    height: 29%;
    width: 90%;
    text-align: left;
    color: black;
    padding-bottom: 5%;
}

.textoMateriasNRC{
    font-size: 1.1vh; 
    height: 10%;
    width: 90%;
    text-align: left;
    color: black;
    padding-bottom: 5%;
}

.tituloMateria{
    color: white;
    font-size: 1.40vh;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-overflow: clip;
    overflow-y: hidden;
    border: 3px outset transparent;  
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.horariosContainer{
    top: -20%;
    left: 0%;
    height: 40%;
    width: 100%;
    background-color: transparent;
    color: black;
    border: groove;
    border-width: 0.6px;
    border-color: Black;
}

.colorMaterias{
    background-color: transparent;
    width: 20%;
    height: 13vh;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-color: black;
    border-bottom-color: black;
    border-right-color: black;
    
    top: -80%;
    left: 10%;
    position: relative;
}

.horarioDia{
    //text-align: left;
    margin-top: 3%;
    color: black;
    font-size: 1.2vh;
    width: 100%;
    flex: 1;
    background-color: transparent;
}

.horarioHora{
    margin-top: 5%;
    color: black;
    font-size: 1.0vh;
    width: 100%;
    flex: 1;
    background-color: transparent;

}

.horariosContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    //justify-content: space-around;
    background-color: transparent;
}

.horariosTarjeta{
    position: relative;
    top: -0%;
    left: 0%;
    height: 40%;
    width: 80%;
    background-color: transparent; 
}


.cuadriculaMateriasBtn{
    position: relative;
    top: 1px; 
    left: 0%;
    height: 25px;
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: rgb(220, 0, 0);
    border-width: 2px;
    border-color: rgb(150, 0, 0);
    border-style: solid;
    border-top-left-radius: 10px ;
    border-bottom-left-radius: 10px ;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;

    display: flex;
    justify-content: center;
    align-items: center;
}

.keyboard-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
  }